@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* barra di navigazione */
header nav > ol {
    position: fixed;
    top: 0;
    right: 0;
    list-style: none;
    z-index: 5;
    padding: 50px;
}

header nav > ol > li {
    display: inline-block;
    font-size: 20px;
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 100%;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

header nav > ol li a {
    text-decoration: none;
    color:currentColor;
}

/* blocco viewport */
.shoe-block {
    height: 100vh;
    position: relative;
}

/* blocco contenuti */
.shoe-content {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* dimensione delle immagini all'interno del blocco */
div.shoe-block > div.shoe-content img { 
    margin: 0 auto;
    width: 100%;
}

div.shoe-block > .shoe-content h1 { /* slogan */
    text-align: center;
    font-size: calc(5vh + 25px);
    text-transform: uppercase;
}

/* "funzione" centrante */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* colore sfondi */
#best-shoe {
    background-color: red;
    color: yellow;
}
#chic-shoe {
    background-color: green;
    color: red;
}
#sporty-shoe {
    background-color: yellow;
    color: green;
}

/* debug */ 
.debug div.shoe-block {
    border: 2px solid blue;
}

.debug div.shoe-block > div.shoe-content {
    border: 2px solid black;
}

.debug div.shoe-block > div.shoe-content h1 {
    border: 1px solid blueviolet;
}

.debug div.shoe-block > div.shoe-content img {
    border: 1px solid orange;
}