@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shoe-block {
    border: 2px solid black;
    height: 100vh;
    width: 100%;
}

.shoe-content {
    border: 2px solid red;
}